.my-experince-subtiitle {
  font-family: "Inter", sans-serif;
  color: white;
  padding-top: 90px;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

/*Para celulares*/
@media screen and (max-width: 780px) {
  .my-experince-subtiitle {
    padding-top: 20px;
  }
}

/* Para pantallas de 781px a 1200px */
@media screen and (min-width: 781px) and (max-width: 1200px) {
}

/* Para pantallas de 1200px a 1800px */
@media screen and (min-width: 1200px) {
}
