body {
  margin: 0px;
  padding: 0px;
  font-family: "Inter", sans-serif;
}
body::-webkit-scrollbar {
  width: 7px;
  background: #18191B;
}
body::-webkit-scrollbar-thumb{
  background: white;
}


.home {
  width: 100%;
  height: 100vh;
  background: rgb(27, 28, 31);
  background-size: cover;
  background-position: center;
}

.navbar {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #18191b;
  padding: 0 24px;
  box-sizing: border-box;
}

.navbar h1 {
  padding: 20px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
}

.navbar a {
  padding: 14px;
  margin: 20px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #746868;
  text-decoration: none;
}

.navbar a:hover {
  color: white;
}
/* my-self */
.my-self{
  width: 100%;
  height: 469px;
  background: rgb(27, 28, 31);
  padding: 0 60px;
  box-sizing: border-box
}

.left-div {
  width: 30%;
  height: 450px;
  float: left;
  padding: 5px 5px;
  box-sizing: border-box;
}
.middle-div {
  width: 40%;
  height: 450px;
  margin: 0 auto;
  position: relative;
}
.right-div {
  width: 30%;
  height: 450px;
  float: right;
  padding: 5px 5px;
  box-sizing: border-box;
}
.container-three-div{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 450px;
  background: rgb(27, 28, 31);
 ;
}

.my-elipsed {
  width: 430px;
  height: 408px;
  z-index: 1;
  background: #18191b;
  border-radius: 50%;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.my-photod {
  width: 350px;
  height: 350px;
  z-index: 3;
  border-radius: 10%;
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  margin: 0 auto;
}


.my-namei{
  width: 100%;
  height: 250px;
  
}

.my-namei h1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #746868;
}

.my-namei h2 {
  
  font-family: "Inter", sans-serif;
  color:white;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  display: flex;
}
.my-namei-text {
  font-family: "Inter", sans-serif;
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  overflow: hidden;
  animation: typing 1s steps(40, end);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.my-date{
  font-family: "Inter", sans-serif;
  color: #746868;
  font-weight: 600;
}
.my-descriptioni p{
  font-weight: 500;
  text-align: justify;
  color: white;
  font-family: "Inter", sans-serif;
}

.my-lenguaguei{
  width: 100%;
  height: 180px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.language-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.language-item {
  width: 30%;
  margin-bottom: 20px;
}

.my-lenguaguei h3{
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-size: 28px;
  
}

.my-lenguaguei h4{
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-size: 18px;
  
}
.my-lenguaguei p{
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-size: 18px;
  
}
.my-lenguaguei a{
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
}
.my-lenguaguei a:hover {
  color:#5DBCD2;
}


.my-links{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  left: 136px;
  height: 100px;
  z-index: 4;
  background:#232427;
  padding: 0px 40px;
  box-sizing: border-box;
  align-items: center;
  position:sticky;
  border-radius: 5px;
  
}
.my-link{
  width: 200px;
  height: 53px;
  left: 96px;
  top: 42px;
  background:#18191B;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 22px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  
}



/* Skilss */

.my-skills{
  width: 100%;
  height: 1236px;
  background: #18191b;
  padding: 0 60px;
  box-sizing: border-box
}
.my-skills-subtiitle{
  font-family: "Inter", sans-serif;
  color:white;
  padding-top: 74px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  display: flex;
}

.my-skills-set{
  width: 100%;
  height: 486px;
  background: #232427;
  border-radius: 25px;
  padding: 15px 15px;

  box-sizing: border-box
}

.my-skill-row{
  width: 100%;
  height: 153px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4px;
}

.my-skill-image{
  width: 100px;
  height: 126px;
  align-items: center;
  justify-content: center;
}

.my-skill-image p{
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 0px;
  color: #746868;
  text-align: center;
  margin-top: 10px;
}

.my-skills-subtiitle2{
  font-family: "Inter", sans-serif;
  color:white;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  display: flex;
}

/* Projects*/
.my-projects{
  width: 100%;
  height: 851px;
  background: #18191b;
  padding: 0 60px;
  box-sizing: border-box
}

.my-card{
  width: 100%;
  height: 99px;
  border-radius: 25px;
  background: #232427;
  margin-top: 4px;
  padding: 20px 20px;
  margin-top: 10px;
}
.my-card-title-div {
  width: 100%;
  height: 46px;
  word-wrap: break-word;
}

.my-card-title {
  width: 100%;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  margin-top: 0px ;
  display: block;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  transform: skew(-5deg);
}

.my-card-title:hover {
  color:#5DBCD2;
}
.my-card-text-div {
  width: 100%;
  height: 60px;
  word-wrap: break-word;
}
.my-card-text {
  width: 100%;
  color: #746868;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  color: #746868;
  margin-top: 0px;
  display: block;
  text-align: left;
}

/*Education*/
.my-education{
  width: 100%;
  height: 350px;
  background: #18191b;
  padding: 0 60px;
  box-sizing: border-box
}
.my-education-u{
  width: 100%;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  margin-top: 0px ;
  display: block;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  
}

.my-education-u:hover {
  color:#5DBCD2;
}

.my-education-list{
  width: 100%;
  color: #746868;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  margin-top: 0px ;
  display: block;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  
}

.my-education-list:hover {
  color:white;
}

/*Contact*/
.my-contact{
  width: 100%;
  height: 300px;
  background: rgb(27, 28, 31);
  padding: 0 60px;
  box-sizing: border-box
}

.my-contact-flex{
  width: 100%;
  height: 200px;
  display: flex;
  padding: 0 24px;
  box-sizing: border-box;
 
}

/*Para celulares*/
@media screen and (max-width: 780px) {
  body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  }
  
  .home {
  height: auto;
  }
  
  .navbar {
  height: 60px;
  padding: 0 12px;
  }
  
  .navbar h1 {
  padding: 12px;
  font-size: 24px;
  }
  
  .navbar a {
  padding: 8px;
  margin: 12px;
  font-size: 16px;
  color: #ffffff;
  }
  
  .navbar a:hover {
  color: #746868;
  }

  /* my-self celular */
  .my-self {
    height: auto;
    padding: 30px;
  }

  .container-three-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    }
    
    .left-div {
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom:0px;
    }
    
    .middle-div {
    width: 100%;
    margin: 0;
    
    }
    
    .my-elipsed {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
    
    .my-photod {
    width: 300px;
    height: 300px;
    margin-top: 30px;
    }
    
    .right-div {
    width: 100%;
    text-align: center;
    }
    
    .my-descriptioni {
    margin-bottom: 30px;
    }
    
    .my-lenguaguei {
    margin-top: 30px;
    }
    
    .my-elipsed ~ .my-descriptioni,
    .my-elipsed ~ .my-lenguaguei {
    margin-top: 230px;
    }
  /*skills celulares*/
  .my-skills{
    height: auto;
  } 
  .my-skill-row {
    flex-wrap: wrap;
    height: auto;
    margin-top: 10px;
    }
    .my-skill-image {
    margin-right: 10px;
    }
    .my-skill-image p {
    font-size: 16px;
    margin-top: 5px;
    }
    .my-skills-set {
    height: auto;
    padding: 15px 10px;
    }

    /*projects celular*/
    .my-projects{
      height: auto;
      padding: 0 20px;
      }
      
      .my-card {
      height: auto;
      border-radius: 15px;
      margin-top: 20px;
      width: calc(100% - 20px); /* 20px para cada lado de padding */
      padding: 10px;
      }
      
      /*Education celular*/
      .my-education {
        height: auto;
        padding: 0 20px;
        }
        
        .my-education-u {
        font-size: 18px;
        margin-top: 20px;
        }
        
        .my-education-list {
        font-size: 18px;
        margin-top: 10px;
        }
        /*Contact celular*/
        .my-contact {
          height: auto;
          padding: 20px;
          }
          .my-contact-flex {
          flex-direction: column;
          justify-content: space-between;
          height: auto;
          }
          .my-contact-flex > div:first-child {
          margin-bottom: 20px;
          }
          .my-contact-list {
          display: inline-flex;
          align-items: center;
          font-size: 18px;
          margin-bottom: 10px;
          }
          .my-contact-list svg {
          margin-right: 10px;
          }
          img {
          max-width: 100%;
          height: auto;
          margin-top: 20px;
          }
  }


  /* Para pantallas de 781px a 1200px */
@media screen and (min-width: 781px) and (max-width: 1200px) {

  .navbar {
    height: 60px;
    padding: 0 30px;
  }

  .navbar h1 {
    padding: 10px;
    font-size: 28px;
  }

  .navbar a {
    margin: 10px;
    font-size: 18px;
  }
  /*my-self-1200*/
  .my-elipsed {
    height: 60%;
    width: 80%;
  }
  .my-namei-text {
    font-size: 36px;
    line-height: 44px;
    height: auto;
    word-wrap: break-word;
    white-space: normal;
  }
  
  
  .my-photod {
    height: auto;
    width: 80%;
  }
 
  /*Skills-1200*/
  .my-skills{
    height: auto;
  } 
  .my-skill-row {
    flex-wrap: wrap;
    height: auto;
    margin-top: 10px;
    }
    .my-skill-image {
    margin-right: 10px;
    }
    .my-skill-image p {
    font-size: 16px;
    margin-top: 5px;
    }
    .my-skills-set {
    height: auto;
    padding: 15px 10px;
    }

    /*projects-1200*/
    .my-projects{
      height: auto;
      padding: 0 20px;
      
      }
      
      .my-card {
      height: auto;
      border-radius: 15px;
      margin-top: 20px;
      width: calc(100% - 20px); /* 20px para cada lado de padding */
      padding: 10px;
      
      }
      
      
   
}

/* Para pantallas de 1200px a 1800px */
@media screen and (min-width: 1200px) {
  /*Skills-1200*/
  .my-skills{
    height: auto;
  } 
  .my-skill-row {
    flex-wrap: wrap;
    height: auto;
    margin-top: 10px;
    }
    .my-skill-image {
    margin-right: 10px;
    }
    .my-skill-image p {
    font-size: 22px;
    margin-top: 5px;
    }
    .my-skills-set {
    height: auto;
    padding: 15px 10px;
    }
  
  /*projects-1200*/
  .my-projects{
    height: auto;
    padding: 0 20px;
    
    }
    
    .my-card {
    height: auto;
    border-radius: 15px;
    margin-top: 20px;
    width: calc(100% - 20px); /* 20px para cada lado de padding */
    padding: 10px;
    
    }
    
    
    
    
}
