.my-skills {
  width: 100%;
  background: #18191b;
  padding: 0 60px;
  box-sizing: border-box;
}

.my-skills-subtiitle {
  font-family: "Inter", sans-serif;
  color: white;
  padding-top: 34px;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 15px;
}

.my-skills-set {
  width: 100%;
  background: #232427;
  border-radius: 25px;
  padding: 15px 15px;
  box-sizing: border-box;
}

.my-skill-row {
  width: 100%;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4px;
}

.my-skill-image {
  width: 100px;
  height: 126px;
  align-items: center;
  justify-content: center;
}

.my-skill-image p {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 0px;
  color: #746868;
  text-align: center;
  margin-top: 7px;
}

.my-skills-subtiitle2 {
  font-family: "Inter", sans-serif;
  color: white;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

/*Para celulares*/
@media screen and (max-width: 780px) {
  .my-skills {
    padding: 0 20px;
  }
  .my-skill-row {
    flex-wrap: wrap;
    height: auto;
    margin-top: 10px;
  }
  .my-skill-image {
    margin-right: 10px;
  }
  .my-skill-image p {
    font-size: 16px;
    margin-top: 5px;
  }
  .my-skills-set {
    height: auto;
    padding: 15px 10px;
  }
}

/* Para pantallas de 781px a 1200px */
@media screen and (min-width: 781px) and (max-width: 1200px) {
  .my-skills {
    padding: 0 20px;
  }
  .my-skill-row {
    flex-wrap: wrap;
    height: auto;
    margin-top: 10px;
  }
  .my-skill-image {
    margin-right: 10px;
  }
  .my-skill-image p {
    font-size: 16px;
    margin-top: 5px;
  }
  .my-skills-set {
    height: auto;
    padding: 15px 10px;
  }
}

/* Para pantallas de 1200px a 1800px */
@media screen and (min-width: 1200px) {
  .my-skills {
    padding: 0 20px;
  }
  .my-skill-row {
    flex-wrap: wrap;
    height: auto;
    margin-top: 10px;
  }
  .my-skill-image {
    margin-right: 10px;
  }
  .my-skill-image p {
    font-size: 16px;
    margin-top: 5px;
  }
  .my-skills-set {
    height: auto;
    padding: 15px 10px;
  }
}
